@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Arimo", sans-serif;
}

.view-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: url(images/100\ js.jpg);
  background-position: center;
  height: 70vh;
  z-index: 1000;
  background-size: cover;
  border-radius: 0px 0px 30px 30px;
}
.view-1 .text {
  width: 100%;
  position: relative;
  z-index: 100;
  transition: all 0.3s ease-in;
}
.view-1 img {
  opacity: 0;
  animation: moveup 1.2s 0.5s ease-in forwards;
}
.view-1 .id {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.view-1 .id img {
  position: relative;
  z-index: 0;
  transform: rotate(350deg);
  top: -35px;
  width: 50%;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.8s 1s ease-out forwards;
}
.view-1 h2 {
  position: relative;
  top: -45px;
  font-size: 3.3rem;
  opacity: 0;
  font-family: "Pixelify Sans", sans-serif;
  color: rgb(108, 97, 100);
  transform: translateY(20px);
  animation: forH2 1.2s 2.1s ease-out forwards;
}
.view-1 p {
  position: relative;
  top: -25px;
  font-weight: 600;
  color: rgb(79, 116, 138);
  opacity: 0;
  font-family: "Caveat", cursive;
  text-transform: capitalize;
  animation: forH2 1.2s 2.3s ease-out forwards;
}
.view-1 p a {
  text-decoration: none;
  color: black;
}
@media (max-width: 320px) {
  .view-1 h2 {
    font-size: 2.3rem;
  }
}
@media (min-width: 585px) {
  .view-1 h2 {
    font-size: 4rem;
  }
}
@media (min-width: 685px) {
  .view-1 {
    height: 90vh;
  }
  .view-1 .id img {
    width: 40%;
    transform: rotate(350deg);
    top: -45px;
  }
  .view-1 h2 {
    top: -35px;
    font-size: 5.4rem;
  }
  .view-1 p {
    top: -15px;
  }
}
@media (min-width: 1024px) {
  .view-1 .text {
    width: 75%;
  }
  .view-1 .id img {
    width: 30%;
  }
  .view-1 h2 {
    font-size: 6rem;
  }
}
@media (min-width: 1440px) {
  .view-1 {
    height: 100vh;
    border-radius: 0px 0px 80px 80px;
  }
  .view-1 .text {
    width: 60%;
  }
  .view-1 .id img {
    width: 25%;
  }
  .view-1 h2 {
    font-size: 7rem;
  }
}

.view-2 {
  position: relative;
  height: 100vh;
  bottom: 30px;
  z-index: 10;
  background-size: cover;
  background-position: center;
  background: url("images/Untitled design (1).png");
  padding: 30px;
  padding-top: 100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.view-2 .gitrepo {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: red;
}
.view-2 .Aboutme {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.view-2 .Aboutme h4 {
  font-size: 3rem;
  font-family: "Pixelify Sans", sans-serif;
  text-transform: capitalize;
  color: rgb(25, 14, 26);
}
.view-2 .Aboutme p {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(206, 95, 95);
  text-transform: capitalize;
  font-family: "Caveat";
}
.view-2 .Aboutme button {
  width: 50%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #f7ecea;
  box-shadow: 8px 6px #e5abaa;
  transition: all 0.6s ease;
}
.view-2 .Aboutme button:active {
  box-shadow: none;
}
.view-2 .Aboutme button a {
  padding: 2px;
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.537);
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-2 .Aboutme button a i {
  font-size: 2rem;
  margin-right: 8px;
}
@media (min-width: 968px) {
  .view-2 {
    flex-direction: row;
  }
  .view-2 .gitrepo {
    width: 500px;
  }
  .view-2 .Aboutme {
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .view-2 {
    flex-direction: row;
    gap: 80px;
  }
  .view-2 .gitrepo {
    width: 500px;
  }
}
@media (min-width: 1024px) {
  .view-2 {
    height: 120vh;
    gap: 10%;
    bottom: 60px;
  }
  .view-2 .Aboutme p {
    width: 700px;
    padding-right: 200px;
  }
  .view-2 .Aboutme button {
    width: 30%;
  }
}

.view-3 {
  border-radius: 100px 100px 0px 0px;
  position: relative;
  top: -100px;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  border-radius: 50px 50px 0px 0px;
}
.view-3 h1 {
  margin-top: 100px;
  padding: 20px;
  text-align: left;
  font-size: 3.5rem;
  font-family: "Caveat", cursive;
}
@media (min-width: 1024px) {
  .view-3 h1 {
    font-size: 6rem;
  }
}
.view-3 .grid-container {
  top: 0;
  padding: 20px;
  width: 100%;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-areas: "a" "b" "c" "d" "e";
  grid-template-areas: "a a b b b c c" "a a b b b c c" "a a d d f c c" "a a d d e e e" "a a d d e e e";
}
@media (min-width: 1024px) {
  .view-3 .grid-container {
    padding: 50px;
  }
}
.view-3 .grid-container .repo {
  border-radius: 20px;
  background-color: lightcyan;
  height: 200px;
}
.view-3 .grid-container .repo1 {
  grid-area: a;
}
.view-3 .grid-container .repo2 {
  grid-area: b;
}
.view-3 .grid-container .repo3 {
  grid-area: c;
}
.view-3 .grid-container .repo4 {
  grid-area: d;
}
.view-3 .grid-container .repo5 {
  grid-area: e;
}

@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes forH2 {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: rotate(300deg);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: rotate(350deg);
    visibility: visible;
  }
}/*# sourceMappingURL=style.css.map */